{%- assign social = site.minima.social-links -%}

  {% if social.googlescholar %} 
  <li><a rel="me"  href="https://scholar.google.it/citations?user={{ social.googlescholar | cgi_escape | escape }}"> 
    <i class="grey ai ai-google-scholar-square ai-2x"></i> 
  </a></li>
  {% endif %} 
  {% if social.dblp %} 
  <li><a rel="me" href="https://dblp.org/pid/{{ social.dblp.fs | cgi_escape | escape}}/{{ social.dblp.snd | cgi_escape | escape }}"> 
    <i class="grey ai ai-dblp-square ai-2x"></i> 
  </a></li>
  {% endif %} 
  {% if social.researchgate %}
  <li><a rel="me" href="https://www.researchgate.net/profile/{{ social.researchgate | cgi_escape | escape }}">
    <i class="grey ai ai-researchgate-square ai-2x"></i> 
  </a></li>
  {% endif %} 
  {% if social.orcid %}
  <li><a rel="me" href="https://orcid.org/{{ social.orcid | cgi_escape | escape }}"> 
    <i class="grey ai ai-orcid-square ai-2x"></i> 
  </a></li>
  {% endif %}
  {%- if social.linkedin -%}
  <li><a rel="me" href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}">
    <i class="grey fab fa-linkedin fa-2x"></i> 
  </a></li>
  {%- endif -%}
  {%- if social.github -%} 
  <li><a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" >
    <i class="grey fab fa-github-square fa-2x"></i> 
  </a></li>
  {%- endif -%}
  {%- for glb in social.gitlab -%}
    {%- if glb.username and glb.instance -%}
    <li><a rel="me" href="https://{{ glb.instance | cgi_escape | escape}}/{{glb.username}}" >
      <i class="grey fab fa-gitlab-square fa-2x"></i> 
    </a></li>
    {%- endif -%}
  {%- endfor -%}





